<div class="container text-left about">
  <span class="col-xs-7">
    <h2><u>About Us</u></h2>
    <h4>Invoke Metal Fabrication is an owner-operated full service
      shop bringing the best in custom fabrication work to all of your
      projects, no matter how big or small. We love working closely with
      customers to make your job as easy as possible.
    </h4>
    <h4>
      Call us today to see how Invoke Metal Fabrication can help you!
    </h4>
    <h2><u>What We Do</u></h2>
    <h5>CNC plasma cutting</h5>
    <h5>Sawing</h5>
    <h5>Tube/Flat steel bending</h5>
    <h5>MIG/TIG welding</h5>
    <h5>And More...</h5>
  </span>
  <span class="col-xs-5 text-center">
    <img src="assests/images/jonah color.jpg" width="400" height="430" alt="picture of owner" />
    <p>Owner Jonah Seaborg</p>
  </span>
  <div class="col-xs-12" >
    <h2><U>Why Invoke Metal Fab?</U></h2>
    <h3>We care.</h3><h4>  Our main goal is to ensure that you get exactly what you need to do the job right the first time.</h4>
    <h3>If you can dream it, we can help create it.</h3><h4>  We are passionate about collaborating with our customers to bring your design into reality.</h4>
    <h3>Experience.</h3><h4>  Our team brings more than 25 years of metal fabrication expertise to your project.</h4>
  </div>
</div>
