
<!-- Swiper -->
 <div class="swiper-container">
     <div class="swiper-wrapper">
         <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/1)"></div>
         <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/2)"></div>
         <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/3)"></div>
         <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/4)"></div>
         <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/5)"></div>
     </div>
     <!-- Add Pagination -->
     <div class="swiper-pagination"></div>
 </div>
 <div class="swiper-button-prev"></div>
 <div class="swiper-button-next"></div>
 <!-- Initialize Swiper -->
 <script>
 var swiper = new Swiper('.swiper-container', {
     pagination: '.swiper-pagination',
     effect: 'cube',
     grabCursor: true,
     loop: true,
     nextButton: '.swiper-button-next',
     prevButton: '.swiper-button-prev',
     autoplay: 5000,
     autoplayDisableOnInteraction: true,
     paginationClickable: true,
     cube: {
         shadow: true,
         slideShadows: true,
         shadowOffset: 20,
         shadowScale: 0.94
     }
 });
 </script>
