<div class="container text-center quote">
  <h3>Fill Out the Form Below</h3>
<div class="col-xs-1"></div>
<form class="form-horizontal col-xs-10 quoteForm">
  <div class="form-group col-xs-6">
    <textarea class="form-control" rows="6" placeholder="Putt Order Info or Questions Here" required></textarea>
  </div>
  <div class="form-group col-xs-6">
    <label class="sr-only" for="exampleInputEmail3">Company Name</label>
    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Company">
    <label class="sr-only" for="exampleInputEmail3">Your Name</label>
    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Your Name" required>
    <label class="sr-only" for="exampleInputEmail3">Phone Number</label>
    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Phone Number">
    <label class="sr-only" for="exampleInputEmail3">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email" required>
  </div>
  <div class="form-group col-xs-12">
    <button type="submit" class="btn btn-success btn-lg btn-block ">Submit</button>
  </div>
</form>
<div class="col-xs-1"></div>
</div>
